/* override colors */
html body .wy-side-nav-search {
	background-color: #3261a1;
}

html body h1, html body h2, html body h3, html body h4, html body h5 {
	color: #3261a1;
	border-bottom: 1px solid #3cb83d;
}

/* override table width restrictions */
html body .wy-table-responsive table td, html body .wy-table-responsive table th {
    white-space: normal;
}

html body .wy-table-responsive {
    overflow: visible;
}